In [134]:
import pandas as pd

In [135]:
df=pd.read_csv('salaries.csv')

In [136]:
print(df.to_string())

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [137]:
print(df.columns)

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [138]:
print(df.isna().sum())

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [139]:
print(df['salary_more_then_100k'])

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [140]:
newdata=pd.get_dummies(df,dtype=int)

print(newdata.to_string())

    salary_more_then_100k  company_abc pharma  company_facebook  company_google  job_business manager  job_computer programmer  job_sales executive  degree_bachelors  degree_masters
0                       0                   0                 0               1                     0                        0                    1                 1               0
1                       0                   0                 0               1                     0                        0                    1                 0               1
2                       1                   0                 0               1                     1                        0                    0                 1               0
3                       1                   0                 0               1                     1                        0                    0                 0               1
4                       0                   0                 0               1                     0                        1                    0                 1               0
5                       1                   0                 0               1                     0                        1                    0                 0               1
6                       0                   1                 0               0                     0                        0                    1                 0               1
7                       0                   1                 0               0                     0                        1                    0                 1               0
8                       0                   1                 0               0                     1                        0                    0                 1               0
9                       1                   1                 0               0                     1                        0                    0                 0               1
10                      1                   0                 1               0                     0                        0                    1                 1               0
11                      1                   0                 1               0                     0                        0                    1                 0               1
12                      1                   0                 1               0                     1                        0                    0                 1               0
13                      1                   0                 1               0                     1                        0                    0                 0               1
14                      1                   0                 1               0                     0                        1                    0                 1               0
15                      1                   0                 1               0                     0                        1                    0                 0               1

In [141]:
df['salary_more_then_100k'].value_counts()

1    10
0     6
Name: salary_more_then_100k, dtype: int64

In [142]:
newdata.groupby('salary_more_then_100k').mean()

,company_abc pharma,company_facebook,company_google,job_business manager,job_computer programmer,job_sales executive,degree_bachelors,degree_masters
salary_more_then_100k,,,,,,,,
0,0.5,0.0,0.5,0.166667,0.333333,0.5,0.666667,0.333333
1,0.1,0.6,0.3,0.500000,0.300000,0.2,0.400000,0.600000

In [153]:
x=newdata.drop(columns=['salary_more_then_100k'])
print(x.head(5))
print(x.columns)

   company_abc pharma  company_facebook  company_google  job_business manager  \
0                   0                 0               1                     0
1                   0                 0               1                     0
2                   0                 0               1                     1
3                   0                 0               1                     1
4                   0                 0               1                     0

   job_computer programmer  job_sales executive  degree_bachelors  \
0                        0                    1                 1
1                        0                    1                 0
2                        0                    0                 1
3                        0                    0                 0
4                        1                    0                 1

   degree_masters
0               0
1               1
2               0
3               1
4               0
Index(['company_abc pharma', 'company_facebook', 'company_google',
       'job_business manager', 'job_computer programmer',
       'job_sales executive', 'degree_bachelors', 'degree_masters'],
      dtype='object')

In [144]:
y=newdata['salary_more_then_100k']
print(y)

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [145]:
from sklearn.linear_model import LogisticRegression

In [146]:
model=LogisticRegression()

In [147]:
from sklearn.model_selection import train_test_split

In [148]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10)

In [149]:
model.fit(x_train,y_train)

LogisticRegression()

In [150]:
y_pred=model.predict(x_test)

In [151]:
from sklearn.metrics import accuracy_score

In [152]:
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [155]:
lists=[0,0,1,0,0,1,1,0]   
ans=model.predict([lists])
print(ans)

[0]

/Users/poojithamm/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [156]:
h=[0,0,1,1,0,0,1,0]
ans2=model.predict([h])
print(ans2)

[1]

/Users/poojithamm/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(